$color-100 :rgb(38, 50, 56);
$color-200 :rgb(55, 71, 79);
$color-300 :rgb(69, 90, 100);
$color-400 :rgb(84, 110, 122);
$color-500 :rgb(96, 125, 139);
$color-600 :rgb(120, 144, 156);
$color-700 :rgb(144, 164, 174);
$color-800 :rgb(176, 190, 197);
$color-900 :rgb(207, 216, 220);
$color-1000 :rgb(236, 239, 241);
