.blog-wrapper {
  background-color: $color-900;
  height: 100%;
}

.blog-container {
  padding: 50px;
}

.blog {
  background-color: white;
  padding: 30px;
  &__title {
    padding: 5px 0;
    border-bottom: solid 2px $color-500;
  }
  &__info {
    display: flex;
    margin: 10px 0;
    background-color: $color-1000;
    &__author {
      margin: 0 20px;
      a {
        color: black;
      }
      a:hover{
        text-decoration: underline solid $color-300;
      }
    }
    &__date {
      margin-left: auto;
    }

  }
  &__overview {
    padding: 20px 0;
  }
  &__text {
    font-size: 18px;
  }
}